## Loops and Functions Practice

In this notebook, you'll get some additional practice working with loops and functions for importing, cleaning, and visualizing data.

### Warmup Questions
## Loops

Recall that a loop can be used whenever you are repeating the same operation multiple times.

For example,

In [1]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

can be rewritten to accomplish the same outcome. We just need to recognize that the repeated code is the `print` function and the part that changes is the argument value.

In [4]:
for n in ['a','b','c','d']:
    print(n) # anything that's indented while execute in the loop
# this means you are outside of the loop
# has to stay within the same cell

a
b
c
d

In [5]:
for n in ['a','b','c','d']: # 1st loop n = a
                            # 2nd loop n = b
                            # 3rd loop n = c
                            # 4th loop n = d
    print(n)

a
b
c
d

In [2]:
for letter in ['a','b','c','d']:
    print(letter)

a
b
c
d

Recall also that `range` can be helpful when writing for loops if you want to iterate through a set of consecutive numbers.

In [6]:
range(10)
# have to have at least 1 argument

range(0, 10)

In [9]:
print(range(2,10))

range(2, 10)

In [8]:
list(range(10)) # wrap it in the list and it'll list out all the numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
list(range(2,10,2)) # - start at 2, end at 10, in 2 increments

[2, 4, 6, 8]

In [17]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

**Your Turn:** Write a for loop that prints out the squares of the numbers 1 through 10.

In [20]:
for square in range(1, 11):
    print(square**2)

1
4
9
16
25
36
49
64
81
100

In [21]:
for square in range(1, 11):
    print(square, square**2)  # 1st is the inital range, 2nd is the square
    # or you could do print(square, square* square) to times them together

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

Now, modify your code so that it prints out the squares of the even integers between 1 and 10. 

**Hint:** You can do this either by using conditional logic (if statements) or you might find a different way if you check out the parameters of the range function (https://www.w3schools.com/python/ref_func_range.asp).

In [22]:
for even_square in range(2, 11, 2): # starting at an even number, 2.. 11 to get 10.. and in 2 increments 
    print(even_square** 2)

4
16
36
64
100

In [23]:
#conditional logic

for even_squares in range(11):
    if even_squares%2 == 0:   # logical statement... if this divides by this and remainder is 0, then print out those T statements
        print(even_squares**2)

0
4
16
36
64
100

In [24]:
for even_squares in range(2, 11):
    
    if even_squares%2 == 0:  # printing all numbers that are divisble by 2
        n = 'true'
    else:
        print(even_squares)

3
5
7
9

In [25]:
for even_squares in range(2, 11):
    
    if even_squares%2 == 0:  
        print(f'{even_squares}, These are TRUE')  # you can do either f' line or the next one..
    else:
        print(even_squares, 'These are FALSE')

2, These are TRUE
3, These are FALSE
4, These are TRUE
5, These are FALSE
6, These are TRUE
7, These are FALSE
8, These are TRUE
9, These are FALSE
10, These are TRUE

In [30]:
for even_squares in [4, 5, 6]:
    print(even_squares)
    
    if even_squares%2 == 0:  
        print(f'{even_squares}, These are TRUE') 
    else:
        print(even_squares, 'These are FALSE')

4
4, These are TRUE
5
5 These are FALSE
6
6, These are TRUE

In [37]:
for n in [4, 5, 6, 7, 8, 9, 10]:
    print(n)
    
    if n == 4: # if it's TRUE, i'll print the n/2. If it's FALSE, it'll move onto the next loop (which is the elif n == 5...)
        print(n/2)
    elif n == 5:
        print(n*2)
    elif n == 6:
        print(n-3)
    else:
        print(n) # this would print out anything AFTER the last conditional, which is 6
        
    print('END OF LOOP','\n\n')  # putting this print here, it'll do it for EACH loop; \n puts a SPACE in between the lines
    
# 1st is your list of numbers [4,5,6] ... then in between [2.0,10, 3....] is the conditions met

# for elif: "if the previous conditions were not true, then try this condition"

# another thing to add...
if n == 6:
    print(f'this is number {n}')  # will print 'this is number 6' if it meets that conditional

4
2.0
END OF LOOP


5
10
END OF LOOP


6
3
END OF LOOP


7
7
END OF LOOP


8
8
END OF LOOP


9
9
END OF LOOP


10
10
END OF LOOP

### The Accumulator Pattern

Often when working with loops, you will want to capture the results of each iteration. This is usually done by either using a numeric accumulator or a container like a list to hold the intermediate results.

For example, if we wanted to sum the first 100 positive integers we could do this using the accumulator pattern.

In [43]:
total_sum = 0
for number in range(1, 101):
    total_sum += number  # bring this variable that is outside of my loop
                        # total sum adds 1 to the number... +=
    
print(f'The total sum is {total_sum}')

The total sum is 5050

In [38]:
total_sum = 0
for n in range (1,3):
    total_sum += n

In [39]:
total_sum

3

In [ ]:
# "So its basically the same as total_sum = total_sum + n"

Or, we might want to do a calculation and store the results:

In [41]:
squares = []
for number in range(1, 10):
    squares.append(number**2)

In [42]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Your Turn:** Find the sum of the squares of all even integers between 2 and 1000.

In [50]:
total_sum_even = 0
for number in range(2, 1001):
    total_sum_even += number **2
    
print(f'The total sum is {total_sum_even}')

The total sum is 333833499

## Functions

When you find yourself repeating the same or very similar code, it could signal that you need a for loop or that you should rewrite your code as a function that can be reused.

Some advantages of using functions are that you don't have to worry about making copy/paste errors and that if you realize that you need to change the logic of your code, you need only update it in one location.

Components of most functions:
* `def` followed by the name of the function
* A set of parentheses and the list of function parameters.
* A body that defines what to do with the inputs.
* A return statement that indicates what the function outputs.

For example, if we want to calculate the square of a number, we could write a very basic function to accomplish this:

In [51]:
def square_number(x):
    return x**2

Once our function is defined, we can call it and pass in inputs:

In [52]:
square_number(10)

100

In [53]:
square_number(-4)

16

Our function can also include more complex logic and multiple return statements:

In [54]:
def absolute_value(x):
    if x >= 0:
        return x
    else:
        return -x

In [55]:
absolute_value(2)

2

In [56]:
absolute_value(-6)

6

**Your Turn:** Write a function named `collatz` that will take as input a number. If that number is even, your function should divide it by two and return the result. If the number is odd, it should triple the number and add one and then return the result.

**Hint:** If you want to check if a number is even, you can use the modulus operator. See, for example, https://discuss.codecademy.com/t/how-can-i-check-if-a-number-is-odd/339354.

In [66]:
def collatz1(x):
    if x % 2 == 0:
        print(x, 'is an even number')
    else: 
        print(x, 'is an odd number')

In [67]:
collatz1(5)

5 is an odd number

In [62]:
def collatz(x):
    if x % 2 == 0:
        return x/2
    else: 
        return x*3+1

In [63]:
collatz(10)

5.0

In [64]:
collatz(54)

27.0

In [68]:
collatz(67)

202

### Intermediate Questions

For these questions, you'll be working with data from the Lahman baseball database. In order to get this data into Python, we are going to write a query and execute it using the sqlalchemy library.

In [69]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [72]:
database_name = 'Lahman'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [73]:
query = """
SELECT *
FROM teams
"""

teams = pd.read_sql(text(query), con = engine)
teams.head()

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1871,NA,BS1,BNA,None,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NA,CH1,CNA,None,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NA,CL1,CFC,None,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NA,FW1,KEK,None,7,19,NaN,7,12,...,NaN,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NA,NY2,NNA,None,5,33,NaN,16,17,...,NaN,0.839,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

Now, you're going to write a series of functions to work with this team data. Note that you can write and execute a SQL query using `read_sql` if you want to check that you're getting the correct results. 

Write a function `get_teams` that will take as input a year and which returns the team stats (from the teams table) for the input year.

In [86]:
def get_teams(x):
    
    return teams[teams['yearid'] == x]

#     if x == 'yearid':
#         return 'index'

In [87]:
get_teams(1871)

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1871,NA,BS1,BNA,None,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NA,CH1,CNA,None,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NA,CL1,CFC,None,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NA,FW1,KEK,None,7,19,NaN,7,12,...,NaN,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NA,NY2,NNA,None,5,33,NaN,16,17,...,NaN,0.839,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
5,1871,NA,PH1,PNA,None,1,28,NaN,21,7,...,NaN,0.845,Philadelphia Athletics,Jefferson Street Grounds,NaN,102,98,ATH,PH1,PH1
6,1871,NA,RC1,ROK,None,9,25,NaN,4,21,...,NaN,0.821,Rockford Forest Citys,Agricultural Society Fair Grounds,NaN,97,99,ROK,RC1,RC1
7,1871,NA,TRO,TRO,None,6,29,NaN,13,15,...,NaN,0.845,Troy Haymakers,Haymakers' Grounds,NaN,101,100,TRO,TRO,TRO
8,1871,NA,WS3,OLY,None,4,32,NaN,15,15,...,NaN,0.850,Washington Olympics,Olympics Grounds,NaN,94,98,OLY,WS3,WS3

Now, write a function `get_best_teams` that will take as input a `year`, a number `n` (which should default to 5) and a parameter `stat` (which should default to wins "w") and which will return the n teams with the largest value for the selected statistic.

Calling `get_best_teams(year = 2014, n = 3)` should return the Los Angeles Angels, the Baltimore Orioles, and the Washington Nationals.

In [89]:
def get_best_teams(year, n):
    
    return teams[teams['yearid'] == year]

    return n == 5

    return stat == 'w'

In [91]:
get_best_teams(year = 2014, n = 3)

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
2745,2014,NL,ARI,ARI,W,5,162,81.0,64,98,...,147.0,0.983,Arizona Diamondbacks,Chase Field,2073730.0,102,102,ARI,ARI,ARI
2746,2014,NL,ATL,ATL,E,2,162,81.0,79,83,...,143.0,0.986,Atlanta Braves,Turner Field,2354305.0,99,99,ATL,ATL,ATL
2747,2014,AL,BAL,BAL,E,1,162,81.0,96,66,...,156.0,0.986,Baltimore Orioles,Oriole Park at Camden Yards,2464473.0,100,100,BAL,BAL,BAL
2748,2014,AL,BOS,BOS,E,5,162,81.0,71,91,...,155.0,0.985,Boston Red Sox,Fenway Park II,2956089.0,102,101,BOS,BOS,BOS
2749,2014,AL,CHA,CHW,C,4,162,81.0,73,89,...,170.0,0.982,Chicago White Sox,U.S. Cellular Field,1650821.0,100,101,CHW,CHA,CHA
2750,2014,NL,CHN,CHC,C,5,162,81.0,73,89,...,137.0,0.983,Chicago Cubs,Wrigley Field,2652113.0,103,104,CHC,CHN,CHN
2751,2014,NL,CIN,CIN,C,4,162,81.0,76,86,...,120.0,0.988,Cincinnati Reds,Great American Ball Park,2476664.0,98,98,CIN,CIN,CIN
2752,2014,AL,CLE,CLE,C,3,162,81.0,85,77,...,139.0,0.981,Cleveland Indians,Progressive Field,1437393.0,97,97,CLE,CLE,CLE
2753,2014,NL,COL,COL,W,4,162,81.0,66,96,...,166.0,0.983,Colorado Rockies,Coors Field,2680329.0,115,116,COL,COL,COL
2754,2014,AL,DET,DET,C,1,162,81.0,90,72,...,153.0,0.983,Detroit Tigers,Comerica Park,2917209.0,105,104,DET,DET,DET
2755,2014,AL,HOU,HOU,W,4,162,81.0,70,92,...,151.0,0.983,Houston Astros,Minute Maid Park,1751829.0,101,102,HOU,HOU,HOU
2756,2014,AL,KCA,KCR,C,2,162,81.0,89,73,...,122.0,0.983,Kansas City Royals,Kauffman Stadium,1956482.0,105,104,KCR,KCA,KCA
2757,2014,AL,LAA,ANA,W,1,162,81.0,98,64,...,127.0,0.986,Los Angeles Angels of Anaheim,Angel Stadium of Anaheim,3095935.0,96,95,LAA,ANA,ANA
2758,2014,NL,LAN,LAD,W,1,162,81.0,94,68,...,145.0,0.983,Los Angeles Dodgers,Dodger Stadium,3782337.0,96,95,LAD,LAN,LAN
2759,2014,NL,MIA,FLA,E,4,162,81.0,77,85,...,154.0,0.984,Miami Marlins,Marlins Park,1732283.0,103,104,MIA,FLO,MIA
2760,2014,NL,MIL,MIL,C,3,162,81.0,82,80,...,130.0,0.984,Milwaukee Brewers,Miller Park,2797384.0,102,103,MIL,ML4,MIL
2761,2014,AL,MIN,MIN,C,5,162,81.0,70,92,...,136.0,0.984,Minnesota Twins,Target Field,2250606.0,102,103,MIN,MIN,MIN
2762,2014,AL,NYA,NYY,E,2,162,81.0,84,78,...,107.0,0.984,New York Yankees,Yankee Stadium III,3401624.0,100,101,NYY,NYA,NYA
2763,2014,NL,NYN,NYM,E,3,162,81.0,79,83,...,158.0,0.983,New York Mets,Citi Field,2148808.0,94,95,NYM,NYN,NYN
2764,2014,AL,OAK,OAK,W,2,162,81.0,88,74,...,150.0,0.982,Oakland Athletics,O.co Coliseum,2003628.0,99,97,OAK,OAK,OAK
2765,2014,NL,PHI,PHI,E,5,162,81.0,73,89,...,133.0,0.987,Philadelphia Phillies,Citizens Bank Park,2423852.0,100,101,PHI,PHI,PHI
2766,2014,NL,PIT,PIT,C,2,162,81.0,88,74,...,148.0,0.983,Pittsburgh Pirates,PNC Park,2442564.0,98,97,PIT,PIT,PIT
2767,2014,NL,SDN,SDP,W,3,162,81.0,77,85,...,124.0,0.983,San Diego Padres,Petco Park,2195373.0,91,91,SDP,SDN,SDN
2768,2014,AL,SEA,SEA,W,3,162,81.0,87,75,...,139.0,0.986,Seattle Mariners,Safeco Field,2064334.0,95,95,SEA,SEA,SEA
2769,2014,NL,SFN,SFG,W,2,162,81.0,88,74,...,155.0,0.984,San Francisco Giants,AT&T Park,3368697.0,95,95,SFG,SFN,SFN
2770,2014,NL,SLN,STL,C,1,162,81.0,90,72,...,145.0,0.985,St. Louis Cardinals,Busch Stadium III,3540649.0,101,100,STL,SLN,SLN
2771,2014,AL,TBA,TBD,E,4,162,81.0,77,85,...,96.0,0.985,Tampa Bay Rays,Tropicana Field,1446464.0,97,97,TBR,TBA,TBA
2772,2014,AL,TEX,TEX,W,5,162,81.0,67,95,...,155.0,0.982,Texas Rangers,Rangers Ballpark in Arlington,2718733.0,101,101,TEX,TEX,TEX
2773,2014,AL,TOR,TOR,E,3,162,81.0,83,79,...,130.0,0.985,Toronto Blue Jays,Rogers Centre,2375525.0,102,102,TOR,TOR,TOR
2774,2014,NL,WAS,WSN,E,1,162,81.0,96,66,...,139.0,0.984,Washington Nationals,Nationals Park,2579389.0,104,102,WSN,MON,WAS

Now, modify `get_best_teams` by adding a parameter `ascending` so that you can choose to return either the top or the bottom teams in terms of the selected stat.

Calling `get_best_teams(year=2014, n=3, stat="era", ascending=True)` should return the Washington Nationals, the Seattle Mariners, and the Oakland Athletics.

In [ ]:
# Your Code Here

Now, modify `get_best_teams` so that you can choose to return just the best teams from one league or the other (using the `lgid` column), but by default does not filter based on league. Do this by adding a `league` parameter with default value of "both".

Calling `get_best_teams(year=2014, n=3, league="AL", ascending = True)` should return the Texas Rangers, the Houston Astros, and the Minnesota Twins.

In [ ]:
# Your Code Here

Now, make a function `plot_best_teams` which takes the same parameters as `get_best_teams` but which creates a bar chart displaying the best teams for the selected stats.

Make sure that your plot has a title and is labeled.

In [ ]:
# Your Code Here

Add a `filepath` parameter to `plot_best_teams` which defaults to `None`. If a filepath is given, the function should save the resulting plot to the input filepath. **Hint:** You'll need to use the [`savefig` function](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html).

In [ ]:
# Your Code Here

Finally, utilize a for loop to create an image for each year from 2000 through 2010 which shows the top 10 teams in terms of number of wins. These images should be saved into an `images` folder which appropriate filenames.

In [ ]:
# Your Code Here

### Challenge Questions

If you're able to solve the previous questions, you can give these advanced questions a try.

The [Tennessee Department of Health](https://www.tn.gov/health/health-program-areas/statistics/health-data/death-statistics.html) published data on number of deaths by cause broken down by county.

Start with the data contained in `TN Deaths Malignant Neoplasms - 2018.xlsx`.

If you inspect the file, you'll see that the data is divided up into two tables.

First, let's see how we can read in the lefthand table. We can use the `read_excel` function and point it to columns A - G.

In [ ]:
neoplasms = pd.read_excel(
    '../data/TN Deaths Malignant Neoplasms - 2018.xlsx',
    header=4,
    usecols='A:G'
)

In [ ]:
neoplasms

Do the following steps to clean up the resulting dataframe:
* Remove the unneeded rows at the top and bottom
* Give the columns descriptive names
* Ensure that the numeric columns are numeric (and have NaNs where there were either *'s or -'s). **Hint:** You could use the pandas `to_numeric` function for this.

Once you have these steps figured out, create a function named `get_deaths_data` that takes as input a `filepath` and string of `usecols` and returns the resulting cleaned up dataframe.

In [ ]:
# Your Code Here

Now, apply your function to both tables contained in the `TN Deaths Malignant Neoplasms - 2018.xlsx` sheet and concatenate the results together to get a single resulting dataframe.

In [ ]:
# Your Code Here

We can get a list of all of the filenames contained in the data folder using the `glob` library:

In [ ]:
import glob
filenames = glob.glob('../data/*.xlsx')

filenames

Your final task is to create a dataframe which has one row per county and one column per cause of death. This column should have the total number of deaths for that cause.

In [ ]:
# Your Code Here